*{
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
  background-image: linear-gradient(to right, rgb(179, 223, 181), rgb(206, 206, 206), rgb(179, 223, 181));
  overflow-x: hidden;
}

.product-grid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.patrocinio{
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
}

.patrocinio p{
  margin-top: 15px;
}

.product{
  margin: 20px;
  text-align: center;
  border: 3px solid black;
  width: 250px;
  height: fit-content;
  border-radius: 20px;
  background-color: rgb(240, 240, 240);
}

.imagen_producto{
  border: 2px solid black;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin-top: 20px;
}

.titulo_seccion{
  text-align: center;
  margin-top: 30px;
}

.boton_adquirir{
  margin: 5px;
}

.boton{
  margin-top: 5px;
}

.logo{
  width: 150px;
  height: 150px;
  margin: 10px;
  border: 3px solid black;
  border-radius: 20px;
}

.seccion_header{
  background-image: linear-gradient(to right, green, rgb(130, 197, 28), green);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navy{
  background-color: rgb(165, 165, 165);
}

ul li a{
  color: black;
}